<div>
  <form class="form p-5 w-50">
    <div class="card bg-white mb-3">
      <div class="card-header p-3 mb-2 bg-danger text-white"></div>
      <div class="card-body">
        <h3 class="card-title">Welcome Back!</h3>
        <h6 class="card-title">Login to your account</h6>
        <form [formGroup]="loginForm" class="card-text">
          <!-- Email -->
          <input
            formControlName="email"
            type="email"
            id="defaultLoginFormEmail"
            class="form-control mb-4 w-100"
            placeholder="E-mail">
          <!-- Password -->
          <input
            formControlName="password"
            type="password"
            id="defaultLoginFormPassword"
            class="form-control mb-4"
            placeholder="Password">

          <button type="button" class="btn btn-dark" (click)="login()">Login</button>
          <br>
          <br>
          <h6>Not a member?
            <a [routerLink]="['/signup']">Sign Up</a> here
          </h6>
        </form>
      </div>
    </div>
  </form>
</div>
