.button-pending {
  display: flex;
  justify-content: end;
  text-align: end;
  margin-right: 2rem;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.users {
  margin: 1rem 0;
}
