<nav class="navbar bg-dark">
  <a [routerLink]="['/']" class="btn btn-danger" style="margin-left: 2rem">HOME</a>
  <form *ngIf="!checkLogin()" class="form-inline">
    <div class='container'>
      <button
        [routerLink]="['/login']"
        type="button"
        class='btn btn-light'>Login</button>
      <button
        style="margin-right: 2rem"
        [routerLink]="['/signup']"
        type="button"
        class="btn btn-danger">Sign Up</button>
    </div>
  </form>
  <form *ngIf="checkLogin()" class="form-inline">
    <div class='container'>
      <button
        style="margin-right: 2rem"
        (click)="logout()"
        [routerLink]="['/']"
        type="button"
        class='btn btn-light'>Logout <i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
  </form>
</nav>
