.form-control{
  border-top: white;
  border-left: white;
  border-right: white;
  //background: #F8F9FA;
}

.form-check-label {
  text-align: left;
}

.signup {
  display: inline;
}

.form-control:focus {
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0);
}

.button{
  background: #bd4b4b;
  border-radius: 11px;
  box-shadow: 0.5px 0.5px lightcoral;
  padding: 10px 38px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 18px/1 "Open Sans", sans-serif;
  text-align: center;
}

.card {
  padding-top: 0 !important;
}

.form {
  float: left;
  width: 30%;
}

.img-container {
  float: right;
  width: 40%;
  padding-top: 4rem;
  padding-left: 3rem;
}

.img {
  width: 345px;
  height: 567px;
}
