button {
  margin: 5px;
}

.comment-div {
  position: relative;
  margin: 5px;
}

.comment-div textarea {
  width: 100%;
  padding: 5px;
  resize: none;
  box-sizing: border-box;
}

.comment-div button {
  border: none;
  border-radius: 50%;
  display: inline-flex;
  padding: 10px;

  bottom: 0;
  right: 0;
  margin: 15px;
}
