* {
  box-sizing: border-box;
}

.container{

}

#group {
  display: inline-block;
  margin: 20px;
}

.my-img {
  display: flex;
  justify-content: center;
}

.rounded-circle{
}

.card {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 18rem;
  width: 23.9rem;
}
